<nav class="ws-nav">
  <div class="ws-nav-header">WebScript.Dev</div>
  <div class="ws-nav-links">
    <span class="ws-nav-link">Articles</span>
    <span class="ws-nav-link">Videos</span>
    <span class="ws-nav-link">About</span>
  </div>
</nav>

<div class="ws-container">
  <!-- Hero Component -->
  <div class="ws-hero">
    <div class="ws-hero-cell new">
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">JavaScript</div></div>
        <div class="ws-hero-article-title">
          Creating a NodeJS Server with JavaScript
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">Angular</div></div>
        <div class="ws-hero-article-title">
          The Basics of Routing in Angular
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">React</div></div>
        <div class="ws-hero-article-title">
          Using React's New Lifecycle Hooks
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">Vue</div></div>
        <div class="ws-hero-article-title">
          Taking Advantage of the Composition API
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">CSS</div></div>
        <div class="ws-hero-article-title">
          Using the ::before and ::after Selectors
        </div>
      </article>
    </div>
    <div class="ws-hero-cell title">
      <div class="ws-title-card">
        <div class="ws-title-card-information">
          <div class="ws-title-card-information-header">Customizing NG2-Charts in Angular</div>
        </div>
        <div class="ws-title-card-banner primary">
          <div class="ws-title-card-banner-header">Samples on Stackblitz</div>
          <img src="../assets/icons8-code-90.png" alt="" style="transform: rotate(-18deg);">
        </div>
        <div class="ws-title-card-banner secondary">
          <img src="../assets/icons8-github-100.png" alt="" style="transform: rotate(18deg);">
          <div class="ws-title-card-banner-header">Projects On Github</div>
        </div>
        <div class="ws-title-card-banner tertiary">
          <div class="ws-title-card-banner-header">Getting Started</div>
          <img src="../assets/icons8-runner-on-the-start-100.png" alt="" style="margin-top: 25px;">
        </div>
      </div>
    </div>
  </div>
  <!-- Card Carousel Component -->
  <!-- Video Panel Component -->
  <div class="ws-videos">
    <div class="ws-video">
      <iframe class="ws-primary-video" src="https://www.youtube.com/embed/S73zDvMgGmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ws-video">
      <iframe class="ws-secondary-video" src="https://www.youtube.com/embed/ApJ1_ZliXLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ws-video">
      <iframe class="ws-secondary-video" src="https://www.youtube.com/embed/ApJ1_ZliXLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ws-video">
      <iframe class="ws-secondary-video" src="https://www.youtube.com/embed/ApJ1_ZliXLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!-- Information Panels Component -->
  <div class="ws-information">
    <div class="ws-popular"></div>
    <div class="ws-news"></div>
  </div>
</div>

<router-outlet></router-outlet>